@font-face {
  font-family: "D";
  src: url("../fonts/control.ttf") format("truetype");
}
body {
  overflow: hidden;
  /* font-family: "D"; */
}
canvas {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #094ee4 0%, #54067e 100%);
}

.ins1 {
  display: none;
  position: absolute;
}
.ins2 {
  display: block;
  position: absolute;
}
